/*stylesheet.css*/

html, body, h1, h2, h3, h4, p, div, ul, ol, li {
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 100%;
	font: inherit;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #000000;
}

html { 
  background: url(images/downtown.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

head {
	position: absolute;
	top: 0;
	bottom: 0;
  margin: 0 auto;
  text-align: center;
}

h1 {
	font-size: 4em;
	font-weight: 300;
	padding-left:  3.125%; /* 30 / 960 */;
  text-align: center;


}

h2 {
	font-size: 200%;
  font-weight: 200;
	font-style: italic;
	padding-left:  3.125%; /* 30 / 960 */;
  text-align: center;


}

ul {
	font-size: 300%;
  font-weight: 100;
	list-style-type: none;
	color: #000000;
  text-align: center;
  background-color: #708090; 
  width: 200%;
  margin: 0 auto;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  font-style: bold, underline;
  font-weight: 200;
}

.navigation {
    width: 10.416666666666667%; /* 100 / 960 */
    height: 10.416666666666667%; /* 100 / 960 */
    position: absolute;
    top: 280;
    bottom: 0;
    left: -70;
    right: 0;
    margin: 0 auto;

}

@media screen and (max-width: 480px) {
    .navigation {
      width: 25%;
      height: 100%;
    }
}



